<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <!-- This states that any request for the KraApiManagement Interface Could be satisfied by the classes defined on TimsApi -->
  <preference for="ThemeFactory\Tims\Api\KraApiManagementInterface" type="ThemeFactory\Tims\Model\TimsApi" />
  <!-- This states that any request for the KraInterface Could be satisfied by the classes defined on TimsFetch -->
  <preference for="ThemeFactory\Tims\Api\Data\KraInterface" type="ThemeFactory\Tims\Model\TimsFetch" />

  <!-- Sync the column "control_unit_serial_no,control_unit_invoice_no,control_unit_date_and_time, qr_code_link" between the sales_invoice and sales_invoice_grid tables -->
  <!-- Control Unit Serial Number -->
  <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
    <arguments>
        <argument name="columns">
            <item name="control_unit_serial_no" xsi:type="string">sales_invoice.control_unit_serial_no</item>
        </argument>
    </arguments>
  </virtualType>
  <!-- Control Unit Serial Number -->
  <!-- Control Unit Invoice Number -->
  <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
    <arguments>
        <argument name="columns">
            <item name="control_unit_invoice_no" xsi:type="string">sales_invoice.control_unit_invoice_no</item>
        </argument>
    </arguments>
  </virtualType>
  <!-- Control Unit Invoice Number -->
  <!-- Control Unit Date and Time -->
  <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
    <arguments>
        <argument name="columns">
            <item name="control_unit_date_and_time" xsi:type="string">sales_invoice.control_unit_date_and_time</item>
        </argument>
    </arguments>
  </virtualType>
  <!-- Control Unit Date and Time -->
  <!-- Control Unit QR Link -->
  <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
    <arguments>
        <argument name="columns">
            <item name="qr_code_link" xsi:type="string">sales_invoice.qr_code_link</item>
        </argument>
    </arguments>
  </virtualType>
  <!-- Control Unit QR Link -->

  <!-- Credit Memo Grid -->
  <!-- Control Unit Serial Number -->
  <virtualType name="CreditmemoGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">
    <arguments>
      <argument name="mainTableName" xsi:type="string">sales_creditmemo</argument>
      <argument name="gridTableName" xsi:type="string">sales_creditmemo_grid</argument>
      <argument name="orderIdField" xsi:type="string">sales_creditmemo.order_id</argument>
      <argument name="columns" xsi:type="array">
          <item name="control_unit_serial_no" xsi:type="string">sales_creditmemo.control_unit_serial_no</item>
      </argument>
       <!-- Control unit Credit Memo number -->
      <argument name="columns" xsi:type="array">
          <item name="control_unit_credit_memo_no" xsi:type="string">sales_creditmemo.control_unit_credit_memo_no</item>
      </argument>
      <!-- Control Unit Date and Time -->
      <argument name="columns" xsi:type="array">
          <item name="control_unit_date_and_time" xsi:type="string">sales_creditmemo.control_unit_date_and_time</item>
      </argument>
        <argument name="columns" xsi:type="array">
          <item name="qr_code_link" xsi:type="string">sales_creditmemo.qr_code_link</item>
      </argument>
    </arguments>
  </virtualType>
  <!-- Qr Code Link -->
  <!-- End of Credit Memo Grid -->

  <!-- Overiding the normal Magento Invoice with mine -->
  <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="ThemeFactory\Tims\Model\Order\Pdf\Invoice" />
  <!-- End of Overiding the normal Magento Invoice with mine -->

  <!-- Overiding the normal Magento CreditMemo with mine -->
  <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo" type="ThemeFactory\Tims\Model\Order\Pdf\Creditmemo" />
  <!-- End of Overiding the normal Magento CreditMemo with mine -->
  
</config>