<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
     <!-- <event name="sales_order_invoice_pay"> -->
     <!-- <event name="sales_order_invoice_save_before">     
        <observer name="timsmodule_kramodule_sales_order_invoice_pay" instance="ThemeFactory\Tims\Observer\PayAfter" />
    </event> -->

    <!-- Sales Invoice Event -->
    <event name="sales_order_invoice_pay">     
        <observer name="themefactory_tims_sales_order_invoice_pay" instance="ThemeFactory\Tims\Observer\Order\Invoice\Pay" />
    </event> 
    <!-- End of Sales Invoice Event -->

    <!-- Credit Memo Event -->
    <event name="sales_order_creditmemo_save_after">
        <observer name="themefactory_tims_sales_order_creditmemo_save_after" instance="ThemeFactory\Tims\Observer\Order\CreditMemo\Credit"/>
    </event>
    <!--End of Credit Memo Event -->
</config>