<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="kra_route_id" frontName="kra_test_name">
            <module name="ThemeFactory_Tims" before="Magento_Catalog"/>
        </route>
    </router>
</config>