<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="geolocation" frontName="geolocation">
            <module name="Manwiks_Geolocation" />
        </route>
    </router>
</config>